In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import collections
from sklearn import preprocessing
from sklearn import metrics
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from scipy import stats
import seaborn as sns

In [0]:
from sklearn import tree

In [0]:
train_data = pd.read_csv('./drive/My Drive/BT4240 data/result.csv')\
              .drop(columns=['Unnamed: 0', 'Unnamed: 0.1'],axis=1)
train_data.head()

        id  ...                             Project Need Statement
0  p039565  ...  My students need matching shirts to wear for d...
1  p063374  ...  My students need tablets  in order to communic...
2  p114989  ...  My students need seating that allows the most ...
3  p030093  ...  My students need individual dry erase boards t...
4  p225747  ...  My students need books that teach life lessons...

[5 rows x 20 columns]

In [0]:
train_data['project_subject_categories'] = train_data['project_subject_categories'].str.split(", ").to_frame()
train_data['project_subject_subcategories'] = train_data['project_subject_subcategories'].str.split(", ").to_frame()
train_data['Project Resource Category'] = train_data['Project Resource Category'].str.split(", ").to_frame()

train_data.head(1)

        id  ...                             Project Need Statement
0  p039565  ...  My students need matching shirts to wear for d...

[1 rows x 20 columns]

In [0]:
train_data['project_subject_categories'] = train_data['project_subject_categories'].apply(collections.Counter)
train_data['project_subject_subcategories'] = train_data['project_subject_subcategories'].apply(collections.Counter)
train_data['Project Resource Category'] = train_data['Project Resource Category'].apply(collections.Counter)

project_subject_categories = pd.DataFrame.from_records(train_data['project_subject_categories']).fillna(value=0).add_prefix("proj_cat_")
project_subject_subcategories = pd.DataFrame.from_records(train_data['project_subject_subcategories']).fillna(value=0).add_prefix("proj_sub_cat_")
Project_Resource_Category = pd.DataFrame.from_records(train_data['Project Resource Category']).fillna(value=0).add_prefix("res_cat_")


train_data = pd.concat([train_data, project_subject_categories], axis=1)
train_data = pd.concat([train_data, project_subject_subcategories], axis=1)
train_data = pd.concat([train_data, Project_Resource_Category], axis=1)

train_data.head(5)

        id  ... res_cat_Visitors
0  p039565  ...              0.0
1  p063374  ...              0.0
2  p114989  ...              0.0
3  p030093  ...              0.0
4  p225747  ...              0.0

[5 rows x 77 columns]

In [0]:
!pip install iteration_utilities
from iteration_utilities import duplicates
list(duplicates(train_data.columns))

Collecting iteration_utilities
  Downloading https://files.pythonhosted.org/packages/c6/c0/12afa17c9367d36c0bd0c0489d76c02e6a4d8f5cb427cd6ad490f1ba1126/iteration_utilities-0.7.0.tar.gz (109kB)
     |████████████████████████████████| 112kB 9.7MB/s
Building wheels for collected packages: iteration-utilities
  Building wheel for iteration-utilities (setup.py) ... done
  Created wheel for iteration-utilities: filename=iteration_utilities-0.7.0-cp36-cp36m-linux_x86_64.whl size=189305 sha256=81159c86d06430441e074be93150effd5fa43f263178b34b29789b863391bc9e
  Stored in directory: /root/.cache/pip/wheels/41/ea/fd/de8371ff85ff0aafd560d50a77ca22d107117094d660131e2a
Successfully built iteration-utilities
Installing collected packages: iteration-utilities
Successfully installed iteration-utilities-0.7.0

[]

In [0]:
train_data = train_data.loc[:,~train_data.columns.duplicated()]
train_data = train_data.drop(columns = ['proj_sub_cat_Care & Hunger', 'proj_sub_cat_Special Needs', 'proj_sub_cat_Warmth'])
len(train_data.columns)

74

In [0]:
train_df = train_data.select_dtypes(exclude=['object','category'])
print(len(train_df.columns))
print(train_df.dtypes.unique())
cat_columns = [col for col in train_df.columns if 'cat' in col]
train_df.head(1)

57
[dtype('int64') dtype('float64')]

   teacher_number_of_previously_posted_projects  ...  res_cat_Visitors
0                                             1  ...               0.0

[1 rows x 57 columns]

In [0]:
train_df[cat_columns] = train_df[cat_columns].astype('int8')
train_df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

   teacher_number_of_previously_posted_projects  ...  res_cat_Visitors
0                                             1  ...                 0
1                                             0  ...                 0
2                                            13  ...                 0
3                                             1  ...                 0
4                                             3  ...                 0

[5 rows x 57 columns]

In [0]:
X = train_df.loc[:, train_df.columns != 'project_is_approved']
y = train_df.loc[:, train_df.columns == 'project_is_approved']
print(X.shape)
print(y.shape)

(121308, 56)
(121308, 1)

In [0]:
y['project_is_approved'].value_counts()

1    110358
0     10950
Name: project_is_approved, dtype: int64

In [0]:
clf = tree.DecisionTreeClassifier()

In [0]:
clf = clf.fit(X, y)

In [0]:
tree.plot_tree(clf)